body
{
    background-position: center top;
    background-color: #8F0600;
    background-image: url('../Images/WOUBG.png');
    background-repeat: no-repeat;
}
#sTable
{
   
}
.style1
{
    width: 111px;
}
#btnDisplyListOfCourses
{
    
}