body {
    font-family: Arial, Helvetica, Sans-Serif;
    font-size: 85%;
    margin: 0;
    padding: 0;
    background-color: #D3D3D3;
}
h1
{
    font-size: 165%;
    margin-top: 0;
    margin-bottom: 15px;
}
#page 
{
    width: 911px;
    margin: 0 auto;
    background-color: White;
    height: 1006px;
}
#main
{
    padding: 10px;
    margin-top: 0;
    height: 816px;
}
#header
{
    margin-bottom: 10px;
}
#new
{
    padding-top: 15px;
    padding-bottom: 5px;
}