<?xml version="1.0"?>
<configuration>
     <system.web>
       <httpRuntime requestValidationMode="2.0" />
        <authorization>
            <deny users="?" />
        </authorization>
    </system.web>

    <!-- Allow ALL users to visit the EnhancedCreateUserPage.aspx 
    <location path="frmUsrMngr.aspx">
        <system.web>
            <authorization>
                <allow users="*" />
            </authorization>
        </system.web>
    </location> -->

    <location path="courseMainPage.aspx">
        <system.web>
          <httpRuntime requestValidationMode="2.0" />
            <authorization>
                <allow users="Users" />
                <deny users="?" />
            </authorization>
        </system.web>
    </location>
  
</configuration>
