<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

  <connectionStrings>
    <add name="ServerDB"
         connectionString="Data Source=140.211.126.155;Initial Catalog=Nifficiency_Scheduler;Persist Security Info=True;User ID=Nifficiency_Scheduler;Password=password1234"
         providerName="System.Data.SqlClient" />
  </connectionStrings>

  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>

</configuration>
